<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/Content/CSS/GeneralStyles.css" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



</head>
<body>
    <div class="navbarCustom">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                
                    <span class="navbar-brand item-Brand">@Html.ActionLink("Smarty Paws", "Index", "MainMenu", new { @class = "elements" }, null)</span>
                    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto items-juntos">

                        <li class="nav-item">
                            <span class="nav-link linea">@Html.ActionLink("Productos", "Productos", "MainMenu", new { @class = "elements" }, null)</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link linea">@Html.ActionLink("Contactenos", "Contacto", "MainMenu", new { @class = "elements" }, null)</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link ">@Html.ActionLink("Nosotros", "About", "MainMenu", new { @class = "elements" }, null)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
