<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/Content/CSS/GeneralStyles.css" />
    <link href="~/Content/CSS/Productos.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>
    <div class="navbarCustom">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">

               @* <span class="navbar-brand item-Brand">@Html.ActionLink("Smarty Paws", "Index", "MainMenu", new { @class = "elements" }, null)</span>*@
                <a class="navbar-brand item-Brand" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'" style="color:white;" href="@Url.Action("Index", "MainMenu")">Smarty Paws</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto items-juntos">

                        <li>
                            <a href="@Url.Action("Menu", "MainMenu")"" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">Productos &#9662;</a>
                            <ul class="dropdown">
                                <a class="dropdown-item" style="color:black;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='black'" href="@Url.Action("Bionic", "MainMenu")">Bionic</a>
                                <a class="dropdown-item" style="color:black;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='black'" href="@Url.Action("Productos", "MainMenu")">Nina Ottossen</a>
                                <a class="dropdown-item" style="color:black;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='black'" href="@Url.Action("OutwardHound", "MainMenu")">Outward Hound</a>
                                <a class="dropdown-item" style="color:black;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='black'" href="@Url.Action("PetStage", "MainMenu")">Pet Stage</a>
                                <a class="dropdown-item" style="color:black;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='black'" href="@Url.Action("PlanetDog", "MainMenu")">Planet Dog</a>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="btn nav-link" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'" style="color:white; " href="@Url.Action("Contacto", "MainMenu")">Contactenos</a>

                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'" style="color:white; " href="@Url.Action("Contacto", "MainMenu")">Nosotros</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <section id="lab_social_icon_footer">
                <!-- Include Font Awesome Stylesheet in Header -->
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                <div class="container">
                    <div class="text-center center-block">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://instagram.com/"><i id="social-gp" class="fa fa-instagram fa-3x social" "></i></a>

                    </div>
                </div>
            </section>
        </footer>


    </div>
    <!--Scripts-->
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
