
@{
    ViewBag.Title = "Productos de Bionic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Bionic</title>
    <!--Links para bootstrap-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

    <!--Mis links Css-->
    <link href="~/Content/CSS/GeneralStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/Productos.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/MainMenu.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container container-custom pt-60">
        <div class="logoProducto">
            <img src="~/Images/Logos/Logo Bionic.png"  class="imgLogoProducto" alt="Alternate Text" />
        </div>
        <!--start row-->
        <div class="row">
            <!--Juguete 1-->
            <!--card-->
            <div class="container page-wrapper col-3">
                <div class="row">
                    <div class="page-inner border-delineado">
                        <div class="col-4">
                            <div class="el-wrapper">
                                <div class="box-up">
                                    <img class="img img-fluid" src="~/Images/Products/Bionic/b01n0dpiwr.main.jpg" alt="">
                                    <div class="img-info">
                                        <div class="a-size">
                                            <span class="p-company">El Bionic Urban Stick está hecho con una durabilidad inigualable y doble compartimiento para golosinas para mantenerlos felices y ocupados durante más tiempo.</span>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>

                                <h3 class="p-name cBlue">Bionic Urban Stick</h3>
                                <div class="box-down">
                                    <div class="h-bg">
                                        <div class="h-bg-inner"></div>
                                    </div>

                                    <a class="cart" href="/Product/100">
                                        <span class="price">₡7,750.00</span>
                                        <span class="add-to-cart">
                                            <span class="txt">Ver Detalles</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
            <!--card-->
            <!--Juguete 2-->
            <!--card-->
            <div class="container page-wrapper col-3">
                <div class="row">
                    <div class="page-inner border-delineado">
                        <div class="col-4">
                            <div class="el-wrapper">
                                <div class="box-up">
                                    <img class="img img-fluid" src="~/Images/Products/Bionic/b01mqiwgvc.main_1.jpg" alt="">
                                    <div class="img-info">
                                        <div class="a-size">
                                            <span class="p-company">Disco duradero, con color de alta visibilidad y flota en el agua</span>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="p-name cBlue">Bionic Toss-N-Tug</h3>
                                <div class="box-down">
                                    <div class="h-bg">
                                        <div class="h-bg-inner"></div>
                                    </div>

                                    <a class="cart" href="/Product/101">
                                        <span class="price">₡7,800.00</span>
                                        <span class="add-to-cart">
                                            <span class="txt">Ver Detalles</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
            <!--card-->
            <div class="container page-wrapper middleMenu">
                <div class="containerImgMiddle">
                    <!-- <img src="~/Images/Logos/ninaottossonlogo.png" alt="Alternate Text" class="imgMiddle" />-->
                    <a href="@Url.Action("Bionic")">
                        <img src="~/Images/Logos/Logo Bionic.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("Productos")">
                        <img src="~/Images/Logos/ninaottossonlogo1.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("OutwardHound")">
                        <img src="~/Images/Logos/outward-hound.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("Petstage")">
                        <img src="~/Images/Logos/petstages.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("PlanetDog")">
                        <img src="~/Images/Logos/planet-dog.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <!-- <img src="~/Images/Logos/ninaottossonlogo.png" alt="Alternate Text" class="imgMiddle" />-->
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
