
@{
    ViewBag.Title = "Productos de Outward Hound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--Links para bootstrap-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

    <!--Mis links Css-->
    <link href="~/Content/CSS/GeneralStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/MainMenu.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/Productos.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container container-custom pt-60">
        <div class="logoProducto">
            <img src="~/Images/Logos/outward-hound.png" class="imgLogoProducto" alt="Alternate Text" />
        </div>

        <!--Nivel 1-->
        <!--start row-->
        <div class="row">
            <!--Juguete 1-->
            <!--card-->
            <div class="container page-wrapper col-3">
                <div class="row">
                    <div class="page-inner border-delineado">
                        <div class="col-4">
                            <div class="el-wrapper">
                                <div class="box-up">
                                    <img class="img img-fluid" src="~/Images/Products/Outward-Hound/51004-fun-feeder-mini-orange-dtc.jpg" alt="">
                                    <div class="img-info">
                                        <div class="info-inner">
                                            <span class="p-name">Fun Feeder Slo-Bowl</span>
                                            <span class="p-company">Fun Feeders mantiene a nuestras mascotas ocupadas hasta 10 veces más al momento de comer, lo que mejora la digestión y les ayuda a comer a un ritmo saludable.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-down">
                                    <div class="h-bg">
                                        <div class="h-bg-inner"></div>
                                    </div>

                                    <a class="cart" href="/Product/300">
                                        <span class="price">₡7750</span>
                                        <span class="add-to-cart">
                                            <span class="txt">Ver Detalles</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
            <div class="container page-wrapper middleMenu">
                <div class="containerImgMiddle">
                    <!-- <img src="~/Images/Logos/ninaottossonlogo.png" alt="Alternate Text" class="imgMiddle" />-->
                    <a href="@Url.Action("Bionic")">
                        <img src="~/Images/Logos/Logo Bionic.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("Productos")">
                        <img src="~/Images/Logos/ninaottossonlogo1.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("OutwardHound")">
                        <img src="~/Images/Logos/outward-hound.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("Petstage")">
                        <img src="~/Images/Logos/petstages.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <a href="@Url.Action("PlanetDog")">
                        <img src="~/Images/Logos/planet-dog.png" alt="Alternate Text" class="imgMiddle" />
                    </a>
                    <!-- <img src="~/Images/Logos/ninaottossonlogo.png" alt="Alternate Text" class="imgMiddle" />-->
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

