@model IEnumerable<PetShop.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--Links para bootstrap-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Mis links Css-->
    <link href="~/Content/CSS/ProductosCss/IndexProducto.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/GeneralStyles.css" type="text/css" rel="stylesheet" />

</head>
 
<body>
    <div class="bodyProductos container">
        <h2 class="titulo-principal">Todos Nuestros productos</h2>
    </div>

    @foreach (var item in Model)
    {
        var itemPath= @
        <div class="row">
        <div class="card col-sm-3" style="width: 18rem;">
            <img class="card-img-top" src=@Ur(model => model.Foto) alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">¢@Html.DisplayNameFor(model => model.Precio)</li>

            </ul>

        </div>
        </div>
    }

</body>
</html>



@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Comprados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Agregado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Comprados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Agregado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
